@font-face {
    font-family: 'Stanley';
    src: url('Stanley.woff2') format('woff2'),
        url('Stanley.woff') format('woff'),
        url('Stanley.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

